In [1]:
import sqlalchemy
from sqlalchemy import MetaData, create_engine, Table, Column, Integer, String
import pandas as pd
import csv, os
import psycopg2
from sqlalchemy.orm import sessionmaker

Session = sessionmaker(bind = engine)
session = Session()

NameError: name 'engine' is not defined

In [3]:
#World Happiness Report 2015
WH_15="WHap_2015.csv"
WH_15_df = pd.read_csv(WH_15)
WH_15_df.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual'],
      dtype='object')

In [4]:
#World Happiness Report 2015: Filtered Dataframe
WH_columns=['Country','Happiness Rank', 'Happiness Score']
WH_15_edit= WH_15_df[WH_columns].copy()

#World Happiness Report 2015: Column headers
WH_15_edit=WH_15_edit.rename(columns={"Country":"country",
                                      "Happiness Rank":"happiness_rank",
                                     "Happiness Score":"happiness_score"})
WH_15_edit.head(1)

       country  happiness_rank  happiness_score
0  Switzerland               1            7.587

In [5]:
#World Happiness Report 2016
WH_16="WHap_2016.csv"
WH_16_df = pd.read_csv(WH_16)

#World Happiness Report 2016: Filtered Dataframe

WH_16_edit= WH_16_df[WH_columns].copy()

#World Happiness Report 2016: Column headers
WH_16_edit=WH_16_edit.rename(columns={"Country":"country",
                                      "Happiness Rank":"happiness_rank",
                                     "Happiness Score":"happiness_score"})
WH_16_edit.head(1)

   country  happiness_rank  happiness_score
0  Denmark               1            7.526

In [6]:
#World Happiness Report 2017
WH_17="WHap_2017.csv"
WH_17_df=pd.read_csv(WH_17)
WH_17_df.columns

Index(['Country', 'Happiness.Rank', 'Happiness.Score', 'Whisker.high',
       'Whisker.low', 'Economy..GDP.per.Capita.', 'Family',
       'Health..Life.Expectancy.', 'Freedom', 'Generosity',
       'Trust..Government.Corruption.', 'Dystopia.Residual'],
      dtype='object')

In [7]:
#World Happiness Report 2017: Filtered Dataframe
WH_17_columns=['Country', 'Happiness.Rank', 'Happiness.Score']
WH_17_edit= WH_17_df[WH_17_columns].copy()

#World Happiness Report 2017: Column headers
WH_17_edit=WH_17_edit.rename(columns={"Country":"country",
                                      "Happiness.Rank":"happiness_rank",
                                     "Happiness.Score":"happiness_score"})
WH_17_edit.head(1)

  country  happiness_rank  happiness_score
0  Norway               1            7.537

In [8]:
#Life Expectancy Data Cleanup: Extraction
life_file='Life Expectancy Data.csv'
life_exp_df=pd.read_csv(life_file)
#life_exp_df['Country'].unique()

In [9]:
life_exp_df.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [10]:
life_exp_cols=['Country', 'Year', 'Life expectancy ','Population']
life_exp_edit_df=life_exp_df[life_exp_cols].copy()
life_exp_edit_df.head()

       Country  Year  Life expectancy   Population
0  Afghanistan  2015              65.0  33736494.0
1  Afghanistan  2014              59.9    327582.0
2  Afghanistan  2013              59.9  31731688.0
3  Afghanistan  2012              59.5   3696958.0
4  Afghanistan  2011              59.2   2978599.0

In [11]:
#Life Expectancy Data: Transformation

life_exp_edit_df=life_exp_edit_df.rename(columns={"Country":"country",
                                                 "Year":"year",
                                                 "Status":"status",
                                                 "Life expectancy ":"life_expectancy",
                                                 "Population":"population"})

life_exp_edit_df.columns

Index(['country', 'year', 'life_expectancy', 'population'], dtype='object')

In [15]:
#Database Connection

#engine = create_engine('postgresql://user:Angybix6355@localhost:5432/country_db')
#engine = create_engine('postgresql+psycopg2://localhost:5432/OO00ZZ33')

url = 'postgresql://{user}:{passwd}@{host}:{port}/{db}'.format(
user='postgres', passwd='Angybix6355', host='localhost', port='5432', db='country_db')

engine = create_engine(url)
connection = engine.connect()

In [16]:
#Life Expectancy: Convert Pandas to SQL
life_exp_edit_df.to_sql(name='life_expectancy', con=engine)

ValueError: Table 'life_expectancy' already exists.

In [17]:
engine.execute("SELECT * FROM life_expectancy").fetchall()

[(0, 'Afghanistan', 2015, 65.0, 33736494.0),
 (1, 'Afghanistan', 2014, 59.9, 327582.0),
 (2, 'Afghanistan', 2013, 59.9, 31731688.0),
 (3, 'Afghanistan', 2012, 59.5, 3696958.0),
 (4, 'Afghanistan', 2011, 59.2, 2978599.0),
 (5, 'Afghanistan', 2010, 58.8, 2883167.0),
 (6, 'Afghanistan', 2009, 58.6, 284331.0),
 (7, 'Afghanistan', 2008, 58.1, 2729431.0),
 (8, 'Afghanistan', 2007, 57.5, 26616792.0),
 (9, 'Afghanistan', 2006, 57.3, 2589345.0),
 (10, 'Afghanistan', 2005, 57.3, 257798.0),
 (11, 'Afghanistan', 2004, 57.0, 24118979.0),
 (12, 'Afghanistan', 2003, 56.7, 2364851.0),
 (13, 'Afghanistan', 2002, 56.2, 21979923.0),
 (14, 'Afghanistan', 2001, 55.3, 2966463.0),
 (15, 'Afghanistan', 2000, 54.8, 293756.0),
 (16, 'Albania', 2015, 77.8, 28873.0),
 (17, 'Albania', 2014, 77.5, 288914.0),
 (18, 'Albania', 2013, 77.2, 289592.0),
 (19, 'Albania', 2012, 76.9, 2941.0),
 (20, 'Albania', 2011, 76.6, 295195.0),
 (21, 'Albania', 2010, 76.2, 291321.0),
 (22, 'Albania', 2009, 76.1, 2927519.0),
 (23, 'Albania', 2008, 75.3, 2947314.0),
 (24, 'Albania', 2007, 75.9, 29717.0),
 (25, 'Albania', 2006, 74.2, 2992547.0),
 (26, 'Albania', 2005, 73.5, 311487.0),
 (27, 'Albania', 2004, 73.0, 326939.0),
 (28, 'Albania', 2003, 72.8, 339616.0),
 (29, 'Albania', 2002, 73.3, 3511.0),
 (30, 'Albania', 2001, 73.6, 36173.0),
 (31, 'Albania', 2000, 72.6, 38927.0),
 (32, 'Algeria', 2015, 75.6, 39871528.0),
 (33, 'Algeria', 2014, 75.4, 39113313.0),
 (34, 'Algeria', 2013, 75.3, 38338562.0),
 (35, 'Algeria', 2012, 75.1, 37565847.0),
 (36, 'Algeria', 2011, 74.9, 36819558.0),
 (37, 'Algeria', 2010, 74.7, 36117637.0),
 (38, 'Algeria', 2009, 74.4, 3546576.0),
 (39, 'Algeria', 2008, 74.1, 3486715.0),
 (40, 'Algeria', 2007, 73.8, 34376.0),
 (41, 'Algeria', 2006, 73.4, 33777915.0),
 (42, 'Algeria', 2005, 72.9, 33288437.0),
 (43, 'Algeria', 2004, 72.3, 3283196.0),
 (44, 'Algeria', 2003, 71.7, 3243514.0),
 (45, 'Algeria', 2002, 71.6, 3199546.0),
 (46, 'Algeria', 2001, 71.4, 31592153.0),
 (47, 'Algeria', 2000, 71.3, 3118366.0),
 (48, 'Angola', 2015, 52.4, 2785935.0),
 (49, 'Angola', 2014, 51.7, 2692466.0),
 (50, 'Angola', 2013, 51.1, 2599834.0),
 (51, 'Angola', 2012, 56.0, 259615.0),
 (52, 'Angola', 2011, 51.0, 24218565.0),
 (53, 'Angola', 2010, 49.6, 23369131.0),
 (54, 'Angola', 2009, 49.1, 22549547.0),
 (55, 'Angola', 2008, 48.7, 2175942.0),
 (56, 'Angola', 2007, 48.2, 2997687.0),
 (57, 'Angola', 2006, 47.7, 2262399.0),
 (58, 'Angola', 2005, 47.4, 19552542.0),
 (59, 'Angola', 2004, 47.1, 18865716.0),
 (60, 'Angola', 2003, 46.8, 1823369.0),
 (61, 'Angola', 2002, 46.5, 17572649.0),
 (62, 'Angola', 2001, 45.7, 16983266.0),
 (63, 'Angola', 2000, 45.3, 1644924.0),
 (64, 'Antigua and Barbuda', 2015, 76.4, None),
 (65, 'Antigua and Barbuda', 2014, 76.2, None),
 (66, 'Antigua and Barbuda', 2013, 76.1, None),
 (67, 'Antigua and Barbuda', 2012, 75.9, None),
 (68, 'Antigua and Barbuda', 2011, 75.7, None),
 (69, 'Antigua and Barbuda', 2010, 75.6, None),
 (70, 'Antigua and Barbuda', 2009, 75.4, None),
 (71, 'Antigua and Barbuda', 2008, 75.2, None),
 (72, 'Antigua and Barbuda', 2007, 75.0, None),
 (73, 'Antigua and Barbuda', 2006, 74.8, None),
 (74, 'Antigua and Barbuda', 2005, 74.6, None),
 (75, 'Antigua and Barbuda', 2004, 74.4, None),
 (76, 'Antigua and Barbuda', 2003, 74.2, None),
 (77, 'Antigua and Barbuda', 2002, 74.0, None),
 (78, 'Antigua and Barbuda', 2001, 73.8, None),
 (79, 'Antigua and Barbuda', 2000, 73.6, None),
 (80, 'Argentina', 2015, 76.3, 43417765.0),
 (81, 'Argentina', 2014, 76.2, 42981515.0),
 (82, 'Argentina', 2013, 76.0, 42539925.0),
 (83, 'Argentina', 2012, 75.9, 4296739.0),
 (84, 'Argentina', 2011, 75.7, 41656879.0),
 (85, 'Argentina', 2010, 75.5, 41223889.0),
 (86, 'Argentina', 2009, 75.6, 479947.0),
 (87, 'Argentina', 2008, 75.4, 4382389.0),
 (88, 'Argentina', 2007, 74.8, 3997224.0),
 (89, 'Argentina', 2006, 75.2, 3955889.0),
 (90, 'Argentina', 2005, 74.9, 39145488.0),
 (91, 'Argentina', 2004, 74.7, 38728696.0),
 (92, 'Argentina', 2003, 74.1, 3839379.0),
 (93, 'Argentina', 2002, 74.1, 3788937.0),
 (94, 'Argentina', 2001, 74.0, 3747159.0),
 (95, 'Argentina', 2000, 74.1, 3757452.0),
 (96, 'Armenia', 2015, 74.8, 291695.0),
 (97, 'Armenia', 2014, 74.6, 29622.0),
 (98, 'Armenia', 2013, 74.4, 289359.0),
 (99, 'Armenia', 2012, 74.4, 2881922.0),
 (100, 'Armenia', 2011, 73.9, 2875581.0),
 (101, 'Armenia', 2010, 73.5, 2877311.0),
 (102, 'Armenia', 2009, 73.3, 2888584.0),
 (103, 'Armenia', 2008, 73.2, 29822.0),
 (104, 'Armenia', 2007, 73.5, 293356.0),
 (105, 'Armenia', 2006, 72.9, 29585.0),
 (106, 'Armenia', 2005, 73.0, 2981259.0),
 (107, 'Armenia', 2004, 73.0, 3612.0),
 (108, 'Armenia', 2003, 72.7, 31786.0),
 (109, 'Armenia', 2002, 72.6, 333897.0),
 (110, 'Armenia', 2001, 72.6, 35655.0),
 (111, 'Armenia', 2000, 72.0, 369588.0),
 (112, 'Australia', 2015, 82.8, 23789338.0),
 (113, 'Australia', 2014, 82.7, 2346694.0),
 (114, 'Australia', 2013, 82.5, 23117353.0),
 (115, 'Australia', 2012, 82.3, 22728254.0),
 (116, 'Australia', 2011, 82.0, 223424.0),
 (117, 'Australia', 2010, 81.9, 223175.0),
 (118, 'Australia', 2009, 81.7, 216917.0),
 (119, 'Australia', 2008, 81.3, 212492.0),
 (120, 'Australia', 2007, 81.3, 28276.0),
 (121, 'Australia', 2006, 81.2, 26979.0),
 (122, 'Australia', 2005, 81.0, 23948.0),
 (123, 'Australia', 2004, 86.0, 21274.0),
 (124, 'Australia', 2003, 83.0, 198954.0),
 (125, 'Australia', 2002, 79.9, 196514.0),
 (126, 'Australia', 2001, 79.9, 19413.0),
 (127, 'Australia', 2000, 79.5, 19153.0),
 (128, 'Austria', 2015, 81.5, 8633169.0),
 (129, 'Austria', 2014, 81.4, 8541575.0),
 (130, 'Austria', 2013, 81.1, 8479375.0),
 (131, 'Austria', 2012, 88.0, 8429991.0),
 (132, 'Austria', 2011, 88.0, 8391643.0),
 (133, 'Austria', 2010, 84.0, 836344.0),
 (134, 'Austria', 2009, 82.0, 8343323.0),
 (135, 'Austria', 2008, 84.0, 8321496.0),
 (136, 'Austria', 2007, 81.0, 8295487.0),
 (137, 'Austria', 2006, 79.8, 8268641.0),
 (138, 'Austria', 2005, 79.4, 8227829.0),
 (139, 'Austria', 2004, 79.3, 8171966.0),
 (140, 'Austria', 2003, 78.8, 8121423.0),
 (141, 'Austria', 2002, 78.7, 881957.0),
 (142, 'Austria', 2001, 78.6, 842293.0),
 (143, 'Austria', 2000, 78.1, 811566.0),
 (144, 'Azerbaijan', 2015, 72.7, 9649341.0),
 (145, 'Azerbaijan', 2014, 72.5, 953579.0),
 (146, 'Azerbaijan', 2013, 72.2, 941681.0),
 (147, 'Azerbaijan', 2012, 71.9, 9295784.0),
 (148, 'Azerbaijan', 2011, 71.6, 917382.0),
 (149, 'Azerbaijan', 2010, 71.1, 954332.0),
 (150, 'Azerbaijan', 2009, 78.0, 8947243.0),
 (151, 'Azerbaijan', 2008, 73.0, 87634.0),
 (152, 'Azerbaijan', 2007, 73.0, 85813.0),
 (153, 'Azerbaijan', 2006, 69.2, 848455.0),
 (154, 'Azerbaijan', 2005, 68.4, 839185.0),
 (155, 'Azerbaijan', 2004, 68.4, 8365.0),
 (156, 'Azerbaijan', 2003, 67.8, 82341.0),
 (157, 'Azerbaijan', 2002, 67.8, 817195.0),
 (158, 'Azerbaijan', 2001, 67.5, 81112.0),
 (159, 'Azerbaijan', 2000, 66.6, 8486.0),
 (160, 'Bahamas', 2015, 76.1, None),
 (161, 'Bahamas', 2014, 75.4, None),
 (162, 'Bahamas', 2013, 74.8, None),
 (163, 'Bahamas', 2012, 74.9, None),
 (164, 'Bahamas', 2011, 75.0, None),
 (165, 'Bahamas', 2010, 75.0, None),
 (166, 'Bahamas', 2009, 74.6, None),
 (167, 'Bahamas', 2008, 74.5, None),
 (168, 'Bahamas', 2007, 74.4, None),
 (169, 'Bahamas', 2006, 74.2, None),
 (170, 'Bahamas', 2005, 74.1, None),
 (171, 'Bahamas', 2004, 73.8, None),
 (172, 'Bahamas', 2003, 73.2, None),
 (173, 'Bahamas', 2002, 73.1, None),
 (174, 'Bahamas', 2001, 72.9, None),
 (175, 'Bahamas', 2000, 72.6, None),
 (176, 'Bahrain', 2015, 76.9, None),
 (177, 'Bahrain', 2014, 76.8, None),
 (178, 'Bahrain', 2013, 76.7, None),
 (179, 'Bahrain', 2012, 76.5, None),
 (180, 'Bahrain', 2011, 76.1, None),
 (181, 'Bahrain', 2010, 76.1, None),
 (182, 'Bahrain', 2009, 76.0, None),
 (183, 'Bahrain', 2008, 75.8, None),
 (184, 'Bahrain', 2007, 75.6, None),
 (185, 'Bahrain', 2006, 75.5, None),
 (186, 'Bahrain', 2005, 75.3, None),
 (187, 'Bahrain', 2004, 75.2, None),
 (188, 'Bahrain', 2003, 75.0, None),
 (189, 'Bahrain', 2002, 74.9, None),
 (190, 'Bahrain', 2001, 74.7, None),
 (191, 'Bahrain', 2000, 74.5, None),
 (192, 'Bangladesh', 2015, 71.8, 1612886.0),
 (193, 'Bangladesh', 2014, 71.4, 15945279.0),
 (194, 'Bangladesh', 2013, 71.0, 157571292.0),
 (195, 'Bangladesh', 2012, 77.0, 15572753.0),
 (196, 'Bangladesh', 2011, 73.0, 153911916.0),
 (197, 'Bangladesh', 2010, 69.9, 15214912.0),
 (198, 'Bangladesh', 2009, 69.5, 1545478.0),
 (199, 'Bangladesh', 2008, 69.1, 14885814.0),
 (200, 'Bangladesh', 2007, 68.6, 147139191.0),
 (201, 'Bangladesh', 2006, 68.2, 1453684.0),
 (202, 'Bangladesh', 2005, 67.8, 14343111.0),
 (203, 'Bangladesh', 2004, 67.3, 14137489.0),
 (204, 'Bangladesh', 2003, 66.8, 139191.0),
 (205, 'Bangladesh', 2002, 66.3, 1366667.0),
 (206, 'Bangladesh', 2001, 65.8, 1341716.0),
 (207, 'Bangladesh', 2000, 65.3, 131581243.0),
 (208, 'Barbados', 2015, 75.5, None),
 (209, 'Barbados', 2014, 75.4, None),
 (210, 'Barbados', 2013, 75.2, None),
 (211, 'Barbados', 2012, 75.1, None),
 (212, 'Barbados', 2011, 74.9, None),
 (213, 'Barbados', 2010, 74.7, None),
 (214, 'Barbados', 2009, 74.6, None),
 (215, 'Barbados', 2008, 74.4, None),
 (216, 'Barbados', 2007, 74.2, None),
 (217, 'Barbados', 2006, 74.1, None),
 (218, 'Barbados', 2005, 73.9, None),
 (219, 'Barbados', 2004, 73.8, None),
 (220, 'Barbados', 2003, 73.7, None),
 (221, 'Barbados', 2002, 73.5, None),
 (222, 'Barbados', 2001, 73.4, None),
 (223, 'Barbados', 2000, 73.3, None),
 (224, 'Belarus', 2015, 72.3, 9489616.0),
 (225, 'Belarus', 2014, 72.0, 9474511.0),
 (226, 'Belarus', 2013, 71.7, 9465997.0),
 (227, 'Belarus', 2012, 71.9, 9464495.0),
 (228, 'Belarus', 2011, 72.0, 9473172.0),
 (229, 'Belarus', 2010, 73.0, 949583.0),
 (230, 'Belarus', 2009, 70.0, 956765.0),
 (231, 'Belarus', 2008, 70.0, 9527985.0),
 (232, 'Belarus', 2007, 69.8, 956953.0),
 (233, 'Belarus', 2006, 68.9, 964924.0),
 (234, 'Belarus', 2005, 68.1, 9663915.0),
 (235, 'Belarus', 2004, 68.2, 973146.0),
 (236, 'Belarus', 2003, 67.7, 9796749.0),
 (237, 'Belarus', 2002, 67.2, 9865548.0),
 (238, 'Belarus', 2001, 67.7, 9928549.0),
 (239, 'Belarus', 2000, 68.0, 997961.0),
 (240, 'Belgium', 2015, 81.1, 11274196.0),
 (241, 'Belgium', 2014, 89.0, 112957.0),
 (242, 'Belgium', 2013, 87.0, 11182817.0),
 (243, 'Belgium', 2012, 83.0, 11128246.0),
 (244, 'Belgium', 2011, 83.0, 1147744.0),
 (245, 'Belgium', 2010, 80.0, 1895586.0),
 (246, 'Belgium', 2009, 79.8, 1796493.0),
 (247, 'Belgium', 2008, 79.5, 179973.0),
 (248, 'Belgium', 2007, 79.5, 16257.0),
 (249, 'Belgium', 2006, 79.4, 1547958.0),
 (250, 'Belgium', 2005, 78.9, 1478617.0),
 (251, 'Belgium', 2004, 78.8, 1421137.0),
 (252, 'Belgium', 2003, 78.3, 1376133.0),
 (253, 'Belgium', 2002, 78.0, 1332785.0),
 (254, 'Belgium', 2001, 78.0, 128657.0),
 (255, 'Belgium', 2000, 77.6, 125125.0),
 (256, 'Belize', 2015, 71.0, 359288.0),
 (257, 'Belize', 2014, 70.0, 351694.0),
 (258, 'Belize', 2013, 69.8, 344181.0),
 (259, 'Belize', 2012, 69.4, 33671.0),
 (260, 'Belize', 2011, 69.4, 329192.0),
 (261, 'Belize', 2010, 69.5, 32168.0),
 (262, 'Belize', 2009, 69.5, 313929.0),
 (263, 'Belize', 2008, 69.6, 36165.0),
 (264, 'Belize', 2007, 69.6, 29847.0),
 (265, 'Belize', 2006, 69.4, 29747.0),
 (266, 'Belize', 2005, 69.0, 283277.0),
 (267, 'Belize', 2004, 68.7, 27689.0),
 (268, 'Belize', 2003, 68.4, 26913.0),
 (269, 'Belize', 2002, 68.5, 26226.0),
 (270, 'Belize', 2001, 68.2, 254984.0),
 (271, 'Belize', 2000, 68.3, 247315.0),
 (272, 'Benin', 2015, 60.0, 1575952.0),
 (273, 'Benin', 2014, 59.7, 1286712.0),
 (274, 'Benin', 2013, 59.5, 14451.0),
 (275, 'Benin', 2012, 59.3, 972916.0),
 (276, 'Benin', 2011, 59.1, 94682.0),
 (277, 'Benin', 2010, 58.7, 9199259.0),
 (278, 'Benin', 2009, 58.4, 894476.0),
 (279, 'Benin', 2008, 57.6, 8696916.0),
 (280, 'Benin', 2007, 57.1, 8454791.0),
 (281, 'Benin', 2006, 56.8, 8216896.0),
 (282, 'Benin', 2005, 56.5, 7982225.0),
 (283, 'Benin', 2004, 56.1, 7754.0),
 (284, 'Benin', 2003, 55.8, 752555.0),
 (285, 'Benin', 2002, 55.6, 7295394.0),
 (286, 'Benin', 2001, 55.5, 776733.0),
 (287, 'Benin', 2000, 55.4, 6865951.0),
 (288, 'Bhutan', 2015, 69.8, 787386.0),
 (289, 'Bhutan', 2014, 69.4, 776448.0),
 (290, 'Bhutan', 2013, 69.1, 764961.0),
 (291, 'Bhutan', 2012, 68.7, 752967.0),
 (292, 'Bhutan', 2011, 68.3, 7451.0),
 (293, 'Bhutan', 2010, 67.9, 727641.0),
 (294, 'Bhutan', 2009, 67.4, 714458.0),
 (295, 'Bhutan', 2008, 67.0, 795.0),
 (296, 'Bhutan', 2007, 66.5, 686958.0),
 (297, 'Bhutan', 2006, 65.8, 672228.0),
 (298, 'Bhutan', 2005, 65.0, 656639.0),
 (299, 'Bhutan', 2004, 64.2, 64282.0),
 (300, 'Bhutan', 2003, 63.3, 623434.0),
 (301, 'Bhutan', 2002, 62.5, 66399.0),
 (302, 'Bhutan', 2001, 61.7, 5896.0),
 (303, 'Bhutan', 2000, 62.0, 573416.0),
 (304, 'Bolivia (Plurinational State of)', 2015, 77.0, None),
 (305, 'Bolivia (Plurinational State of)', 2014, 74.0, None),
 (306, 'Bolivia (Plurinational State of)', 2013, 71.0, None),
 (307, 'Bolivia (Plurinational State of)', 2012, 69.8, None),
 (308, 'Bolivia (Plurinational State of)', 2011, 69.3, None),
 (309, 'Bolivia (Plurinational State of)', 2010, 68.7, None),
 (310, 'Bolivia (Plurinational State of)', 2009, 68.0, None),
 (311, 'Bolivia (Plurinational State of)', 2008, 67.4, None),
 (312, 'Bolivia (Plurinational State of)', 2007, 66.8, None),
 (313, 'Bolivia (Plurinational State of)', 2006, 66.2, None),
 (314, 'Bolivia (Plurinational State of)', 2005, 65.7, None),
 (315, 'Bolivia (Plurinational State of)', 2004, 65.1, None),
 (316, 'Bolivia (Plurinational State of)', 2003, 64.5, None),
 (317, 'Bolivia (Plurinational State of)', 2002, 63.9, None),
 (318, 'Bolivia (Plurinational State of)', 2001, 63.3, None),
 (319, 'Bolivia (Plurinational State of)', 2000, 62.6, None),
 (320, 'Bosnia and Herzegovina', 2015, 77.4, 3535961.0),
 (321, 'Bosnia and Herzegovina', 2014, 77.2, 35662.0),
 (322, 'Bosnia and Herzegovina', 2013, 77.0, 364999.0),
 (323, 'Bosnia and Herzegovina', 2012, 76.8, 36482.0),
 (324, 'Bosnia and Herzegovina', 2011, 76.9, 3688865.0),
 (325, 'Bosnia and Herzegovina', 2010, 76.4, 372284.0),
 (326, 'Bosnia and Herzegovina', 2009, 76.1, 3746561.0),
 (327, 'Bosnia and Herzegovina', 2008, 76.0, 3763599.0),
 (328, 'Bosnia and Herzegovina', 2007, 75.4, 3774.0),
 (329, 'Bosnia and Herzegovina', 2006, 75.7, 3779468.0),
 (330, 'Bosnia and Herzegovina', 2005, 75.0, 378153.0),
 (331, 'Bosnia and Herzegovina', 2004, 75.5, 3781287.0),
 (332, 'Bosnia and Herzegovina', 2003, 75.2, 3779247.0),
 (333, 'Bosnia and Herzegovina', 2002, 75.4, 377587.0),
 (334, 'Bosnia and Herzegovina', 2001, 74.9, 3771284.0),
 (335, 'Bosnia and Herzegovina', 2000, 74.6, 376676.0),
 (336, 'Botswana', 2015, 65.7, 229197.0),
 (337, 'Botswana', 2014, 65.1, 2168573.0),
 (338, 'Botswana', 2013, 64.2, 212857.0),
 (339, 'Botswana', 2012, 63.4, 289315.0),
 (340, 'Botswana', 2011, 62.2, 251339.0),
 (341, 'Botswana', 2010, 61.1, 214866.0),
 (342, 'Botswana', 2009, 59.2, 1979882.0),
 (343, 'Botswana', 2008, 57.5, 1946351.0),
 (344, 'Botswana', 2007, 56.9, 1914414.0),
 (345, 'Botswana', 2006, 54.8, 1884238.0),
 (346, 'Botswana', 2005, 51.7, 1855852.0),
 (347, 'Botswana', 2004, 48.1, 182933.0),
 (348, 'Botswana', 2003, 46.4, 184339.0),
 (349, 'Botswana', 2002, 46.0, 1779953.0),
 (350, 'Botswana', 2001, 46.7, 1754935.0),
 (351, 'Botswana', 2000, 47.8, 172834.0),
 (352, 'Brazil', 2015, 75.0, 2596218.0),
 (353, 'Brazil', 2014, 74.8, 24213133.0),
 (354, 'Brazil', 2013, 74.7, 2248632.0),
 (355, 'Brazil', 2012, 74.5, 256983.0),
 (356, 'Brazil', 2011, 74.1, 198686688.0),
 (357, 'Brazil', 2010, 73.8, 196796269.0),
 (358, 'Brazil', 2009, 73.6, 194895996.0),
 (359, 'Brazil', 2008, 73.4, 19297929.0),
 (360, 'Brazil', 2007, 73.3, 19126637.0),
 (361, 'Brazil', 2006, 73.0, 18912412.0),
 (362, 'Brazil', 2005, 72.7, 186917361.0),
 (363, 'Brazil', 2004, 72.0, 184738458.0),
 (364, 'Brazil', 2003, 71.8, 182482149.0),
 (365, 'Brazil', 2002, 71.4, 1815121.0),
 (366, 'Brazil', 2001, 71.0, 1777567.0),
 (367, 'Brazil', 2000, 75.0, 175287587.0),
 (368, 'Brunei Darussalam', 2015, 77.7, None),
 (369, 'Brunei Darussalam', 2014, 77.6, None),
 (370, 'Brunei Darussalam', 2013, 77.1, None),
 (371, 'Brunei Darussalam', 2012, 78.3, None),
 (372, 'Brunei Darussalam', 2011, 77.4, None),
 (373, 'Brunei Darussalam', 2010, 76.9, None),
 (374, 'Brunei Darussalam', 2009, 76.8, None),
 (375, 'Brunei Darussalam', 2008, 77.2, None),
 (376, 'Brunei Darussalam', 2007, 76.0, None),
 (377, 'Brunei Darussalam', 2006, 76.3, None),
 (378, 'Brunei Darussalam', 2005, 76.2, None),
 (379, 'Brunei Darussalam', 2004, 76.4, None),
 (380, 'Brunei Darussalam', 2003, 76.0, None),
 (381, 'Brunei Darussalam', 2002, 74.8, None),
 (382, 'Brunei Darussalam', 2001, 74.7, None),
 (383, 'Brunei Darussalam', 2000, 74.4, None),
 (384, 'Bulgaria', 2015, 74.5, 7177991.0),
 (385, 'Bulgaria', 2014, 74.3, 7223938.0),
 (386, 'Bulgaria', 2013, 74.1, 7265115.0),
 (387, 'Bulgaria', 2012, 73.9, 735888.0),
 (388, 'Bulgaria', 2011, 73.7, 7348328.0),
 (389, 'Bulgaria', 2010, 73.4, 7395599.0),
 (390, 'Bulgaria', 2009, 73.2, 7444443.0),
 (391, 'Bulgaria', 2008, 72.9, 7492561.0),
 (392, 'Bulgaria', 2007, 72.6, 7545338.0),
 (393, 'Bulgaria', 2006, 72.2, 76122.0),
 (394, 'Bulgaria', 2005, 72.1, 7658972.0),
 (395, 'Bulgaria', 2004, 72.2, 771686.0),
 (396, 'Bulgaria', 2003, 72.0, 7775327.0),
 (397, 'Bulgaria', 2002, 71.8, 7837161.0),
 (398, 'Bulgaria', 2001, 71.6, 89142.0),
 (399, 'Bulgaria', 2000, 71.1, 817172.0),
 (400, 'Burkina Faso', 2015, 59.9, 1811624.0),
 (401, 'Burkina Faso', 2014, 59.3, 17585977.0),
 (402, 'Burkina Faso', 2013, 59.0, 1772723.0),
 (403, 'Burkina Faso', 2012, 58.6, 16571216.0),
 (404, 'Burkina Faso', 2011, 58.1, 168194.0),
 (405, 'Burkina Faso', 2010, 57.5, 1565217.0),
 (406, 'Burkina Faso', 2009, 56.9, 1514199.0),
 (407, 'Burkina Faso', 2008, 56.1, 14689726.0),
 (408, 'Burkina Faso', 2007, 55.3, 1425221.0),
 (409, 'Burkina Faso', 2006, 54.3, 13829177.0),
 (410, 'Burkina Faso', 2005, 53.3, 1342193.0),
 (411, 'Burkina Faso', 2004, 52.4, 133569.0),
 (412, 'Burkina Faso', 2003, 51.6, 12654621.0),
 (413, 'Burkina Faso', 2002, 51.0, 122931.0),
 (414, 'Burkina Faso', 2001, 56.0, 11944587.0),
 (415, 'Burkina Faso', 2000, 51.0, 1167942.0),
 (416, 'Burundi', 2015, 59.6, 119927.0),
 (417, 'Burundi', 2014, 59.1, 989179.0),
 (418, 'Burundi', 2013, 58.6, 96186.0),
 (419, 'Burundi', 2012, 58.0, 931971.0),
 (420, 'Burundi', 2011, 57.4, 94358.0),
 (421, 'Burundi', 2010, 56.8, 876693.0),
 (422, 'Burundi', 2009, 56.2, 848931.0),
 (423, 'Burundi', 2008, 55.3, 8212264.0),
 (424, 'Burundi', 2007, 54.8, 7939573.0),
 (425, 'Burundi', 2006, 54.1, 7675338.0),
 (426, 'Burundi', 2005, 53.4, 7423289.0),
 (427, 'Burundi', 2004, 52.6, 7182451.0),
 (428, 'Burundi', 2003, 51.9, 6953113.0),
 (429, 'Burundi', 2002, 51.5, 6741569.0),
 (430, 'Burundi', 2001, 51.3, 6555829.0),
 (431, 'Burundi', 2000, 58.0, 6476.0),
 (432, "Côte d'Ivoire", 2015, 53.3, None),
 (433, "Côte d'Ivoire", 2014, 52.8, None),
 (434, "Côte d'Ivoire", 2013, 52.3, None),
 (435, "Côte d'Ivoire", 2012, 52.0, None),
 (436, "Côte d'Ivoire", 2011, 51.7, None),
 (437, "Côte d'Ivoire", 2010, 51.5, None),
 (438, "Côte d'Ivoire", 2009, 51.0, None),
 (439, "Côte d'Ivoire", 2008, 54.0, None),
 (440, "Côte d'Ivoire", 2007, 49.9, None),
 (441, "Côte d'Ivoire", 2006, 49.4, None),
 (442, "Côte d'Ivoire", 2005, 48.7, None),
 (443, "Côte d'Ivoire", 2004, 48.2, None),
 (444, "Côte d'Ivoire", 2003, 48.0, None),
 (445, "Côte d'Ivoire", 2002, 47.7, None),
 (446, "Côte d'Ivoire", 2001, 47.8, None),
 (447, "Côte d'Ivoire", 2000, 47.9, None),
 (448, 'Cabo Verde', 2015, 73.3, 532913.0),
 (449, 'Cabo Verde', 2014, 73.0, 526437.0),
 (450, 'Cabo Verde', 2013, 72.8, 5216.0),
 (451, 'Cabo Verde', 2012, 72.7, 513979.0),
 (452, 'Cabo Verde', 2011, 72.6, 5867.0),
 (453, 'Cabo Verde', 2010, 72.5, 52384.0),
 (454, 'Cabo Verde', 2009, 72.4, 496963.0),
 (455, 'Cabo Verde', 2008, 72.4, 491723.0),
 (456, 'Cabo Verde', 2007, 72.3, 486438.0),
 (457, 'Cabo Verde', 2006, 72.1, 48795.0),
 (458, 'Cabo Verde', 2005, 71.8, 474567.0),
 (459, 'Cabo Verde', 2004, 71.4, 467664.0),
 (460, 'Cabo Verde', 2003, 71.1, 46147.0),
 (461, 'Cabo Verde', 2002, 77.0, 45216.0),

In [18]:
#World Happiness Report 2015: Convert Pandas to SQL
WH_15_edit.to_sql(name='world_happiness_15', con=engine)

ValueError: Table 'world_happiness_15' already exists.

In [19]:
engine.execute("SELECT * FROM world_happiness_15").fetchall()

[(0, 'Switzerland', 1, 7.587),
 (1, 'Iceland', 2, 7.561),
 (2, 'Denmark', 3, 7.527),
 (3, 'Norway', 4, 7.522),
 (4, 'Canada', 5, 7.427),
 (5, 'Finland', 6, 7.406),
 (6, 'Netherlands', 7, 7.378),
 (7, 'Sweden', 8, 7.364),
 (8, 'New Zealand', 9, 7.286),
 (9, 'Australia', 10, 7.284),
 (10, 'Israel', 11, 7.278),
 (11, 'Costa Rica', 12, 7.226),
 (12, 'Austria', 13, 7.2),
 (13, 'Mexico', 14, 7.187),
 (14, 'United States', 15, 7.119),
 (15, 'Brazil', 16, 6.983),
 (16, 'Luxembourg', 17, 6.946),
 (17, 'Ireland', 18, 6.94),
 (18, 'Belgium', 19, 6.937),
 (19, 'United Arab Emirates', 20, 6.901),
 (20, 'United Kingdom', 21, 6.867),
 (21, 'Oman', 22, 6.853),
 (22, 'Venezuela', 23, 6.81),
 (23, 'Singapore', 24, 6.798),
 (24, 'Panama', 25, 6.786),
 (25, 'Germany', 26, 6.75),
 (26, 'Chile', 27, 6.67),
 (27, 'Qatar', 28, 6.611),
 (28, 'France', 29, 6.575),
 (29, 'Argentina', 30, 6.574),
 (30, 'Czech Republic', 31, 6.505),
 (31, 'Uruguay', 32, 6.485),
 (32, 'Colombia', 33, 6.477),
 (33, 'Thailand', 34, 6.455),
 (34, 'Saudi Arabia', 35, 6.411),
 (35, 'Spain', 36, 6.329),
 (36, 'Malta', 37, 6.302),
 (37, 'Taiwan', 38, 6.298),
 (38, 'Kuwait', 39, 6.295),
 (39, 'Suriname', 40, 6.269),
 (40, 'Trinidad and Tobago', 41, 6.168),
 (41, 'El Salvador', 42, 6.13),
 (42, 'Guatemala', 43, 6.123),
 (43, 'Uzbekistan', 44, 6.003),
 (44, 'Slovakia', 45, 5.995),
 (45, 'Japan', 46, 5.987),
 (46, 'South Korea', 47, 5.984),
 (47, 'Ecuador', 48, 5.975),
 (48, 'Bahrain', 49, 5.96),
 (49, 'Italy', 50, 5.948),
 (50, 'Bolivia', 51, 5.89),
 (51, 'Moldova', 52, 5.889),
 (52, 'Paraguay', 53, 5.878),
 (53, 'Kazakhstan', 54, 5.855),
 (54, 'Slovenia', 55, 5.848),
 (55, 'Lithuania', 56, 5.833),
 (56, 'Nicaragua', 57, 5.828),
 (57, 'Peru', 58, 5.824),
 (58, 'Belarus', 59, 5.813),
 (59, 'Poland', 60, 5.791),
 (60, 'Malaysia', 61, 5.77),
 (61, 'Croatia', 62, 5.759),
 (62, 'Libya', 63, 5.754),
 (63, 'Russia', 64, 5.716),
 (64, 'Jamaica', 65, 5.709),
 (65, 'North Cyprus', 66, 5.695),
 (66, 'Cyprus', 67, 5.689),
 (67, 'Algeria', 68, 5.605),
 (68, 'Kosovo', 69, 5.589),
 (69, 'Turkmenistan', 70, 5.548),
 (70, 'Mauritius', 71, 5.477),
 (71, 'Hong Kong', 72, 5.474),
 (72, 'Estonia', 73, 5.429),
 (73, 'Indonesia', 74, 5.399),
 (74, 'Vietnam', 75, 5.36),
 (75, 'Turkey', 76, 5.332),
 (76, 'Kyrgyzstan', 77, 5.286),
 (77, 'Nigeria', 78, 5.268),
 (78, 'Bhutan', 79, 5.253),
 (79, 'Azerbaijan', 80, 5.212),
 (80, 'Pakistan', 81, 5.194),
 (81, 'Jordan', 82, 5.192),
 (82, 'Montenegro', 82, 5.192),
 (83, 'China', 84, 5.14),
 (84, 'Zambia', 85, 5.129),
 (85, 'Romania', 86, 5.124),
 (86, 'Serbia', 87, 5.123),
 (87, 'Portugal', 88, 5.102),
 (88, 'Latvia', 89, 5.098),
 (89, 'Philippines', 90, 5.073),
 (90, 'Somaliland region', 91, 5.057),
 (91, 'Morocco', 92, 5.013),
 (92, 'Macedonia', 93, 5.007),
 (93, 'Mozambique', 94, 4.971),
 (94, 'Albania', 95, 4.959),
 (95, 'Bosnia and Herzegovina', 96, 4.949),
 (96, 'Lesotho', 97, 4.898),
 (97, 'Dominican Republic', 98, 4.885),
 (98, 'Laos', 99, 4.876),
 (99, 'Mongolia', 100, 4.874),
 (100, 'Swaziland', 101, 4.867),
 (101, 'Greece', 102, 4.857),
 (102, 'Lebanon', 103, 4.839),
 (103, 'Hungary', 104, 4.8),
 (104, 'Honduras', 105, 4.788),
 (105, 'Tajikistan', 106, 4.786),
 (106, 'Tunisia', 107, 4.739),
 (107, 'Palestinian Territories', 108, 4.715),
 (108, 'Bangladesh', 109, 4.694),
 (109, 'Iran', 110, 4.686),
 (110, 'Ukraine', 111, 4.681),
 (111, 'Iraq', 112, 4.677),
 (112, 'South Africa', 113, 4.642),
 (113, 'Ghana', 114, 4.633),
 (114, 'Zimbabwe', 115, 4.61),
 (115, 'Liberia', 116, 4.571),
 (116, 'India', 117, 4.565),
 (117, 'Sudan', 118, 4.55),
 (118, 'Haiti', 119, 4.518),
 (119, 'Congo (Kinshasa)', 120, 4.517),
 (120, 'Nepal', 121, 4.514),
 (121, 'Ethiopia', 122, 4.512),
 (122, 'Sierra Leone', 123, 4.507),
 (123, 'Mauritania', 124, 4.436),
 (124, 'Kenya', 125, 4.419),
 (125, 'Djibouti', 126, 4.369),
 (126, 'Armenia', 127, 4.35),
 (127, 'Botswana', 128, 4.332),
 (128, 'Myanmar', 129, 4.307),
 (129, 'Georgia', 130, 4.297),
 (130, 'Malawi', 131, 4.292),
 (131, 'Sri Lanka', 132, 4.271),
 (132, 'Cameroon', 133, 4.252),
 (133, 'Bulgaria', 134, 4.218),
 (134, 'Egypt', 135, 4.194),
 (135, 'Yemen', 136, 4.077),
 (136, 'Angola', 137, 4.033),
 (137, 'Mali', 138, 3.995),
 (138, 'Congo (Brazzaville)', 139, 3.989),
 (139, 'Comoros', 140, 3.956),
 (140, 'Uganda', 141, 3.931),
 (141, 'Senegal', 142, 3.904),
 (142, 'Gabon', 143, 3.896),
 (143, 'Niger', 144, 3.845),
 (144, 'Cambodia', 145, 3.819),
 (145, 'Tanzania', 146, 3.781),
 (146, 'Madagascar', 147, 3.681),
 (147, 'Central African Republic', 148, 3.678),
 (148, 'Chad', 149, 3.667),
 (149, 'Guinea', 150, 3.656),
 (150, 'Ivory Coast', 151, 3.655),
 (151, 'Burkina Faso', 152, 3.587),
 (152, 'Afghanistan', 153, 3.575),
 (153, 'Rwanda', 154, 3.465),
 (154, 'Benin', 155, 3.34),
 (155, 'Syria', 156, 3.006),
 (156, 'Burundi', 157, 2.905),
 (157, 'Togo', 158, 2.839)]

In [20]:
#World Happiness Report 2016: Convert Pandas to SQL
WH_16_edit.to_sql(name='world_happiness_16', con=engine)
engine.execute("SELECT * FROM world_happiness_16").fetchall()

ValueError: Table 'world_happiness_16' already exists.

In [21]:
#World Happiness Report 2017: Convert Pandas to SQL
WH_17_edit.to_sql(name='world_happiness_17', con=engine)

ValueError: Table 'world_happiness_17' already exists.

In [28]:
engine.execute("SELECT * FROM free_eco1").fetchall()

[(1, 'Afghanistan', 'Afghanistan', 'Asia-Pacific', 152.0, 39.0, 51.5, 19.6, 29.6, 25.2, 91.7, 80.3, 99.3, 49.2, 60.4, 76.7, 66.0, 10.0, 10.0, 7.0, 20.0, 20.0, 5.0, 25.6, 'Afghanistan', '35.5', '$69.6 ', 2.5, 2.9, '$1,958', '8.8', 5.0, '53.9', 7.3),
 (2, 'Albania', 'Albania', 'Europe', 52.0, 27.0, 66.5, 54.8, 30.6, 40.4, 86.3, 73.9, 80.6, 69.3, 52.7, 81.5, 87.8, 70.0, 70.0, 1.1, 23.0, 15.0, 24.9, 29.5, 'Albania', '2.9', '$36.0 ', 3.9, 2.5, '$12,507', '13.9', 2.0, '1,119.1', 71.2),
 (3, 'Algeria', 'Algeria', 'Middle East and North Africa', 171.0, 14.0, 46.2, 31.6, 36.2, 28.9, 76.4, 48.7, 18.7, 61.6, 49.9, 74.9, 67.4, 30.0, 30.0, 8.8, 35.0, 23.0, 24.5, 41.4, 'Algeria', '41.5', '$632.9 ', 2.0, 3.1, '$15,237', '10.0', 5.6, '1,203.0', 25.8),
 (4, 'Angola', 'Angola', 'Sub-Saharan Africa', 156.0, 33.0, 50.6, 35.9, 26.6, 20.5, 83.9, 80.7, 58.2, 55.7, 58.8, 55.4, 61.2, 30.0, 40.0, 9.4, 17.0, 30.0, 20.6, 25.3, 'Angola', '28.2', '$190.3 ', 0.7, 2.9, '$6,753', '8.2', 31.7, '-2,254.5', 65.3),
 (5, 'Argentina', 'Argentina', 'Americas', 148.0, 26.0, 52.2, 47.8, 44.5, 33.5, 69.3, 49.5, 33.0, 56.4, 46.9, 60.2, 70.0, 55.0, 60.0, 7.5, 35.0, 30.0, 30.8, 41.0, 'Argentina', '44.1', '$920.2 ', 2.9, 0.7, '$20,876', '8.7', 25.7, '11,857.0', 52.6),
 (6, 'Armenia', 'Armenia', 'Europe', 47.0, 24.0, 67.7, 57.2, 46.3, 38.6, 84.7, 79.0, 53.0, 78.3, 71.4, 77.8, 80.8, 75.0, 70.0, 2.1, 26.0, 20.0, 21.3, 26.4, 'Armenia', '3.0', '$28.3 ', 7.5, 3.6, '$9,456', '18.2', 0.9, '245.7', 53.5),
 (7, 'Australia', 'Australia', 'Asia-Pacific', 5.0, 4.0, 80.9, 79.1, 86.5, 79.9, 62.8, 60.1, 86.2, 88.3, 84.1, 86.6, 87.6, 80.0, 90.0, 1.2, 45.0, 30.0, 28.2, 36.5, 'Australia', '24.8', '$1,246.5 ', 2.3, 2.4, '$50,334', '5.6', 2.0, '46,368.0', 41.6),
 (8, 'Austria', 'Austria', 'Europe', 31.0, 16.0, 72.0, 84.2, 71.3, 77.4, 50.5, 24.5, 85.5, 74.9, 68.7, 81.5, 86.0, 90.0, 70.0, 2.0, 50.0, 25.0, 42.7, 50.2, 'Austria', '8.8', '$439.6 ', 2.9, 1.3, '$49,869', '5.5', 2.2, '9,629.6', 78.8),
 (9, 'Azerbaijan', 'Azerbaijan', 'Asia-Pacific', 60.0, 13.0, 65.4, 59.1, 53.1, 44.7, 87.5, 59.5, 89.4, 69.5, 63.9, 63.0, 74.6, 60.0, 60.0, 5.2, 25.0, 20.0, 15.0, 36.7, 'Azerbaijan', '9.8', '$171.8 ', 0.1, 1.2, '$17,492', '5.0', 13.0, '2,867.0', 54.7),
 (10, 'Bahamas', 'Bahamas', 'Americas', 76.0, 15.0, 62.9, 42.2, 46.9, 43.7, 97.3, 86.8, 65.7, 68.5, 67.5, 78.1, 47.8, 50.0, 60.0, 18.6, 0.0, 0.0, 16.3, 21.0, 'Bahamas', '0.4', '$11.6 ', 1.3, -0.7, '$31,139', '12.6', 1.4, '927.7', 57.2),
 (11, 'Bahrain', 'Bahrain', 'Middle East and North Africa', 54.0, 5.0, 66.4, 63.5, 50.7, 53.6, 99.7, 62.7, 3.7, 71.4, 71.1, 81.6, 83.8, 75.0, 80.0, 3.1, 0.0, 0.0, 5.6, 35.3, 'Bahrain', '1.5', '$70.4 ', 3.2, 3.8, '$48,505', '1.2', 1.4, '518.9', 90.3),
 (12, 'Bangladesh', 'Bangladesh', 'Asia-Pacific', 121.0, 27.0, 55.6, 36.1, 34.5, 24.4, 72.7, 94.5, 77.6, 50.9, 68.2, 69.9, 63.6, 45.0, 30.0, 10.7, 25.0, 45.0, 8.8, 13.6, 'Bangladesh', '163.2', '$687.1 ', 7.1, 6.7, '$4,211', '4.4', 5.7, '2,151.6', 32.4),
 (13, 'Barbados', 'Barbados', 'Americas', 67.0, 13.0, 64.7, 52.9, 59.9, 53.8, 70.1, 65.0, 79.5, 69.8, 59.9, 78.3, 56.6, 70.0, 60.0, 14.2, 35.0, 25.0, 33.7, 34.1, 'Barbados', '0.3', '$5.2 ', 0.9, 0.6, '$18,664', '9.7', 4.4, '286.2', 132.9),
 (14, 'Belarus', 'Belarus', 'Europe', 104.0, 42.0, 57.9, 55.2, 51.7, 37.7, 89.4, 41.3, 85.4, 75.0, 75.3, 67.0, 76.4, 30.0, 10.0, 1.8, 13.0, 18.0, 23.8, 44.2, 'Belarus', '9.5', '$178.9 ', 2.4, -0.3, '$18,931', '0.5', 6.0, '1,276.4', 51.0),
 (15, 'Belgium', 'Belgium', 'Europe', 48.0, 25.0, 67.3, 81.3, 61.6, 72.5, 47.1, 15.2, 73.4, 78.1, 61.0, 76.1, 86.0, 85.0, 70.0, 2.0, 50.0, 29.0, 44.2, 53.2, 'Belgium', '11.4', '$528.5 ', 1.7, 1.2, '$46,553', '7.4', 2.2, '740.4', 103.2),
 (16, 'Belize', 'Belize', 'Americas', 123.0, 24.0, 55.4, 41.7, 46.9, 27.2, 79.9, 65.9, 39.1, 61.8, 54.8, 78.7, 64.0, 55.0, 50.0, 10.5, 25.0, 25.0, 27.6, 33.7, 'Belize', '0.4', '$3.2 ', 0.8, 1.8, '$8,324', '9.3', 1.1, '77.0', 99.0),
 (17, 'Benin', 'Benin', 'Sub-Saharan Africa', 127.0, 21.0, 55.3, 37.2, 32.8, 28.1, 69.3, 83.4, 27.9, 62.4, 53.8, 86.4, 61.8, 70.0, 50.0, 11.6, 45.0, 30.0, 11.9, 23.5, 'Benin', '11.1', '$25.3 ', 5.6, 5.0, '$2,277', '2.5', 0.1, '184.4', 54.6),
 (18, 'Bhutan', 'Bhutan', 'Asia-Pacific', 74.0, 16.0, 62.9, 62.5, 55.4, 54.5, 83.0, 71.6, 77.6, 68.7, 79.5, 72.6, 79.4, 20.0, 30.0, 2.8, 25.0, 30.0, 13.4, 30.7, 'Bhutan', '0.8', '$7.0 ', 6.0, 5.2, '$8,744', '2.4', 3.4, '10.3', 102.4),
 (19, 'Bolivia', 'Bolivia', 'Americas', 173.0, 30.0, 42.3, 20.5, 12.3, 19.7, 82.4, 49.3, 17.6, 58.8, 52.9, 68.8, 70.4, 15.0, 40.0, 4.8, 13.0, 25.0, 31.1, 41.1, 'Bolivia', '11.1', '$83.6 ', 4.2, 5.1, '$7,547', '3.1', 2.8, '724.7', 50.9),
 (20, 'Bosnia and Herzegovina', 'BosniaHerzegovina', 'Europe', 83.0, 37.0, 61.9, 40.2, 37.9, 30.2, 84.3, 46.1, 96.6, 49.7, 67.0, 83.1, 82.6, 65.0, 60.0, 1.2, 10.0, 10.0, 37.0, 42.4, 'Bosnia and Herzegovina', '3.5', '$44.6 ', 2.7, 2.5, '$12,724', '25.6', 1.3, '425.2', 41.0),
 (21, 'Botswana', 'Botswana', 'Sub-Saharan Africa', 36.0, 3.0, 69.5, 58.1, 45.7, 52.4, 82.7, 65.9, 94.6, 68.7, 68.2, 78.8, 83.8, 65.0, 70.0, 0.6, 25.0, 22.0, 24.9, 33.7, 'Botswana', '2.2', '$38.9 ', 2.2, 4.1, '$17,828', '17.4', 3.3, '400.6', 15.6),
 (22, 'Brazil', 'Brazil', 'Americas', 150.0, 27.0, 51.9, 57.3, 51.7, 28.1, 70.5, 55.2, 5.9, 57.9, 51.9, 75.5, 69.0, 50.0, 50.0, 8.0, 27.5, 34.0, 32.2, 38.6, 'Brazil', '207.7', '$3,240.3 ', 1.0, -0.5, '$15,603', '13.3', 3.4, '62,712.6', 84.0),
 (186, 'Brunei Darussalam', 'Brunei ', 'Asia-Pacific', 63.0, 14.0, 65.1, 64.0, 56.0, 43.7, 90.7, 59.9, 20.0, 80.2, 90.8, 76.5, 84.0, 65.0, 50.0, 0.5, 0.0, 18.5, 24.2, 36.6, 'Brunei Darussalam', '0.4', '$33.5 ', 0.5, -1.4, '$78,196', '7.1', -0.1, '-46.3', 2.7),
 (23, 'Bulgaria', 'Bulgaria', 'Europe', 37.0, 19.0, 69.0, 62.5, 41.9, 35.1, 90.2, 63.9, 98.8, 62.7, 68.4, 88.0, 86.0, 70.0, 60.0, 2.0, 10.0, 10.0, 28.0, 34.7, 'Bulgaria', '7.1', '$153.1 ', 3.6, 2.7, '$21,687', '6.2', 1.2, '1,070.7', 23.9),
 (24, 'Burkina Faso', 'BurkinaFaso', 'Sub-Saharan Africa', 96.0, 9.0, 59.4, 49.1, 42.9, 36.6, 81.9, 80.0, 61.8, 51.6, 52.3, 86.2, 65.2, 65.0, 40.0, 7.4, 27.5, 28.0, 16.3, 25.8, 'Burkina Faso', '18.9', '$35.8 ', 6.4, 5.3, '$1,889', '6.3', 0.4, '485.9', 38.3),
 (25, 'Burma', 'Burma', 'Asia-Pacific', 139.0, 35.0, 53.6, 34.7, 18.1, 30.6, 86.6, 85.4, 78.3, 52.8, 65.7, 69.6, 70.8, 30.0, 20.0, 4.6, 20.0, 30.0, 6.5, 22.1, 'Burma', '52.6', '$328.7 ', 6.7, 7.2, '$6,244', '0.8', 5.1, '4,341.0', 34.7),
 (26, 'Burundi', 'Burundi', 'Sub-Saharan Africa', 162.0, 39.0, 48.9, 20.6, 31.0, 26.2, 74.0, 83.3, 23.3, 50.3, 67.5, 62.2, 68.2, 50.0, 30.0, 5.9, 35.0, 35.0, 12.3, 23.6, 'Burundi', '10.9', '$8.0 ', 0.0, 1.1, '$735', '1.6', 16.6, '0.3', 56.7),
 (27, 'Cambodia', 'Cambodia', 'Asia-Pacific', 105.0, 22.0, 57.8, 37.4, 27.6, 16.7, 89.7, 85.9, 89.1, 29.9, 63.0, 79.4, 65.4, 60.0, 50.0, 9.8, 20.0, 20.0, 15.0, 21.7, 'Cambodia', '16.0', '$64.3 ', 6.9, 7.1, '$4,012', '0.2', 2.9, '2,784.4', 35.1),
 (28, 'Cameroon', 'Cameroon', 'Sub-Saharan Africa', 145.0, 29.0, 52.4, 42.5, 31.3, 25.5, 74.4, 87.5, 58.4, 44.4, 47.8, 84.0, 53.4, 30.0, 50.0, 15.8, 35.0, 33.0, 15.6, 20.4, 'Cameroon', '24.3', '$88.9 ', 3.2, 4.9, '$3,660', '4.2', 0.6, '672.5', 33.8),
 (29, 'Canada', 'Canada', 'Americas', 8.0, 1.0, 77.7, 87.0, 69.4, 84.6, 76.8, 51.3, 83.1, 81.9, 73.7, 77.2, 86.8, 80.0, 80.0, 1.6, 33.0, 15.0, 31.7, 40.3, 'Canada', '36.7', '$1,769.3 ', 3.0, 2.1, '$48,265', '6.3', 1.6, '24,243.8', 89.7),
 (30, 'Cabo Verde', 'CaboVerde', 'Sub-Saharan Africa', 73.0, 4.0, 63.1, 44.1, 49.0, 43.7, 76.4, 71.2, 59.7, 65.2, 55.7, 84.1, 68.2, 80.0, 60.0, 10.9, 35.0, 24.0, 23.7, 31.0, 'Cabo Verde', '0.5', '$3.7 ', 4.0, 2.0, '$6,944', '10.3', 0.8, '108.6', 126.0),
 (31, 'Central African Republic', 'CentralAfricanRepublic', 'Sub-Saharan Africa', 161.0, 38.0, 49.1, 19.6, 29.6, 23.2, 65.2, 94.2, 94.3, 24.2, 40.1, 72.3, 51.0, 45.0, 30.0, 14.5, 50.0, 30.0, 9.0, 13.9, 'Central African Republic', '5.0', '$3.4 ', 4.0, -4.5, '$677', '6.0', 3.8, '17.2', 53.4),
 (32, 'Chad', 'Chad', 'Sub-Saharan Africa', 159.0, 36.0, 49.9, 26.7, 24.6, 23.2, 46.1, 92.4, 85.2, 28.1, 43.2, 82.3, 47.2, 60.0, 40.0, 16.4, 60.0, 45.0, 5.3, 15.9, 'Chad', '12.2', '$28.6 ', -3.1, 1.0, '$2,344', '5.9', -0.9, '335.0', 52.5),
 (33, 'Chile', 'Chile', 'Americas', 18.0, 3.0, 75.4, 68.7, 56.3, 62.3, 77.3, 81.0, 89.0, 76.6, 65.0, 84.5, 88.8, 85.0, 70.0, 0.6, 35.0, 25.0, 20.4, 25.2, 'Chile', '18.4', '$451.1 ', 1.5, 2.2, '$24,537', '7.0', 2.2, '6,729.6', 23.6),
 (34, 'China', 'China', 'Asia-Pacific', 100.0, 20.0, 58.4, 49.9, 75.2, 49.1, 70.4, 70.1, 76.0, 56.2, 64.2, 71.9, 73.0, 25.0, 20.0, 3.5, 45.0, 25.0, 17.5, 31.6, 'China', '1390.1', '$23,159.1 ', 6.9, 7.1, '$16,660', '4.7', 1.6, '136,320.0', 47.8),
 (35, 'Colombia', 'Colombia', 'Americas', 49.0, 8.0, 67.3, 59.2, 34.3, 33.5, 74.3, 75.0, 79.2, 71.4, 78.5, 75.6, 76.0, 80.0, 70.0, 7.0, 33.0, 33.0, 19.9, 28.9, 'Colombia', '49.3', '$714.0 ', 1.8, 3.2, '$14,485', '8.9', 4.3, '14,518.0', 49.4),
 (36, 'Comoros', 'Comoros', 'Sub-Saharan Africa', 124.0, 20.0, 55.4, 36.5, 29.6, 24.4, 63.9, 73.4, 91.7, 57.2, 60.3, 82.8, 70.0, 45.0, 30.0, 5.0, 30.0, 50.0, 14.5, 29.8, 'Comoros', '0.8', '$1.3 ', 2.5, 2.2, '$1,588', '4.3', 1.0, '8.6', 28.4),
 (37, 'Congo, Democratic Republic of the Congo', 'DemcoraticRepublicCongo', 'Sub-Saharan Africa', 157.0, 34.0, 50.3, 25.3, 30.7, 26.2, 73.8, 93.9, 96.9, 53.2, 41.9, 49.1, 62.6, 30.0, 20.0, 11.2, 30.0, 40.0, 10.8, 14.2, 'Congo, Democratic Republic of the Congo', '86.7', '$68.5 ', 3.4, 6.1, '$790', '3.7', 41.5, '1,340.2', 15.7),
 (38, 'Congo, Republic of', 'RepublicCongo', 'Sub-Saharan Africa', 176.0, 46.0, 39.7, 33.2, 29.6, 25.3, 59.5, 40.6, 0.0, 38.2, 35.8, 82.6, 56.8, 45.0, 30.0, 11.6, 45.0, 34.0, 29.5, 44.5, 'Congo, Republic of', '4.3', '$28.9 ', -4.6, 1.1, '$6,642', '11.0', 0.5, '1,158.8', 119.1),
 (39, 'Costa Rica', 'CostaRica', 'Americas', 61.0, 11.0, 65.3, 58.3, 54.0, 54.5, 79.2, 88.4, 42.5, 67.2, 55.2, 83.2, 81.4, 70.0, 50.0, 1.8, 25.0, 30.0, 23.6, 19.6, 'Costa Rica', '5.0', '$83.9 ', 3.2, 3.4, '$16,877', '8.1', 1.6, '3,007.1', 49.1),
 (40, "Côte d'Ivoire", 'CoeDivoire', 'Sub-Saharan Africa', 78.0, 5.0, 62.4, 40.9, 47.8, 38.1, 77.5, 83.9, 74.3, 61.0, 52.5, 74.2, 73.6, 75.0, 50.0, 8.2, 36.0, 25.0, 18.2, 23.1, "Côte d'Ivoire", '25.0', '$96.9 ', 7.8, 8.6, '$3,883', '2.6', 0.8, '674.7', 46.4),
 (41, 'Croatia', 'Croatia', 'Europe', 86.0, 38.0, 61.4, 66.0, 42.9, 38.6, 66.4, 33.4, 85.4, 60.7, 44.0, 78.5, 86.0, 75.0, 60.0, 2.0, 40.0, 18.0, 37.9, 47.1, 'Croatia', '4.1', '$101.3 ', 2.8, 1.5, '$24,424', '11.2', 1.1, '2,104.2', 78.4),
 (42, 'Cuba', 'Cuba', 'Americas', 178.0, 31.0, 27.8, 31.6, 10.0, 37.7, 48.8, 0.0, 15.6, 20.0, 20.0, 65.6, 64.0, 10.0, 10.0, 8.0, 50.0, 30.0, 41.5, 64.2, 'Cuba', '11.5', '$148.0 ', 0.9, 1.9, '$12,920', '2.6', 5.5, None, 47.7),
 (43, 'Cyprus', 'Cyprus', 'Europe', 44.0, 22.0, 68.1, 73.1, 48.1, 43.7, 74.9, 55.2, 80.3, 76.9, 59.5, 84.0, 86.0, 75.0, 60.0, 2.0, 35.0, 12.5, 33.6, 38.7, 'Cyprus', '0.9', '$31.6 ', 3.9, 0.3, '$37,023', '11.0', 0.7, '6,343.3', 99.3),
 (44, 'Czech Republic', 'CzechRepublic', 'Europe', 23.0, 13.0, 73.7, 74.8, 47.6, 52.1, 82.6, 52.1, 97.6, 72.4, 78.1, 81.5, 86.0, 80.0, 80.0, 2.0, 15.0, 19.0, 34.0, 40.0, 'Czech Republic', '10.6', '$375.7 ', 4.3, 2.9, '$35,512', '2.9', 2.4, '7,412.2', 34.7),
 (45, 'Denmark', 'Denmark', 'Europe', 14.0, 6.0, 76.7, 86.2, 77.8, 85.8, 42.0, 14.4, 96.7, 90.7, 86.4, 84.1, 86.0, 90.0, 80.0, 2.0, 56.0, 23.5, 45.9, 53.4, 'Denmark', '5.7', '$286.8 ', 2.1, 1.6, '$49,883', '5.7', 1.1, '-3,114.7', 36.4),
 (46, 'Djibouti', 'Djibouti', 'Sub-Saharan Africa', 169.0, 43.0, 47.1, 29.7, 18.1, 28.1, 76.2, 27.3, 18.1, 54.7, 60.4, 72.7, 50.4, 80.0, 50.0, 17.3, 30.0, 25.0, 29.2, 49.2, 'Djibouti', '1.0', '$3.6 ', 6.7, 6.1, '$3,559', '5.8', 0.7, '165.0', 30.6),
 (47, 'Dominica', 'Dominica', 'Americas', 72.0, 14.0, 63.6, 49.2, 63.8, 54.5, 72.1, 53.5, 84.7, 70.7, 60.4, 85.7, 68.2, 70.0, 30.0, 8.4, 35.0, 30.0, 25.8, 39.4, 'Dominica', '0.1', '$0.8 ', -4.2, 0.0, '$11,102', None, 0.6, '18.9', 87.6),
 (48, 'Dominican Republic', 'DominicanRepublic', 'Americas', 89.0, 19.0, 61.0, 50.6, 18.1, 23.2, 84.6, 90.3, 89.9, 51.9, 57.6, 79.7, 75.8, 70.0, 40.0, 4.6, 25.0, 27.0, 13.6, 17.9, 'Dominican Republic', '10.2', '$172.4 ', 4.6, 6.1, '$16,944', '5.5', 3.3, '3,570.0', 37.7),
 (49, 'Ecuador', 'Ecuador', 'Americas', 170.0, 29.0, 46.9, 35.9, 20.2, 25.3, 77.0, 55.5, 32.1, 54.1, 48.2, 73.5, 66.4, 35.0, 40.0, 6.8, 35.0, 25.0, 21.2, 38.5, 'Ecuador', '16.8', '$192.6 ', 2.7, 2.0, '$11,482', '3.8', 0.4, '606.4', 45.0),
 (50, 'Egypt', 'Egypt', 'Middle East and North Africa', 144.0, 11.0, 52.5, 37.0, 48.3, 29.2, 85.2, 68.1, 0.0, 65.9, 51.6, 62.3, 71.8, 60.0, 50.0, 6.6, 25.0, 23.0, 18.0, 32.6, 'Egypt', '94.8', '$1,201.2 ', 4.2, 3.8, '$12,671', '12.1', 23.5, '7,391.7', 103.3),
 (51, 'El Salvador', 'ElSalvador', 'Americas', 84.0, 17.0, 61.8, 37.6, 29.1, 23.4, 78.1, 86.3, 81.9, 57.2, 53.1, 79.0, 81.4, 75.0, 60.0, 1.8, 30.0, 30.0, 19.7, 21.4, 'El Salvador', '6.4', '$57.0 ', 2.4, 2.1, '$8,948', '4.5', 1.0, '791.9', 59.3),
 (52, 'Equatorial Guinea', 'EquatorialGuinea', 'Sub-Saharan Africa', 174.0, 44.0, 41.0, 29.7, 18.1, 15.8, 71.3, 67.6, 16.4, 37.6, 32.7, 83.7, 48.8, 40.0, 30.0, 15.6, 35.0, 35.0, 20.4, 32.8, 'Equatorial Guinea', '0.8', '$30.4 ', -4.4, -5.6, '$36,017', '6.9', 0.7, '304.1', 42.7),
 (53, 'Eritrea', 'Eritrea', 'Sub-Saharan Africa', 177.0, 47.0, 38.9, 35.5, 18.1, 19.7, 81.4, 73.9, 0.0, 17.7, 70.0, 61.0, 69.2, 0.0, 20.0, 5.4, 30.0, 30.0, 8.0, 29.5, 'Eritrea', '5.9', '$9.4 ', 5.0, 3.4, '$1,581', '6.4', 9.0, '55.5', 131.2),
 (54, 'Estonia', 'Estonia', 'Europe', 15.0, 7.0, 76.6, 81.5, 76.0, 73.1, 79.9, 51.1, 99.8, 75.3, 57.2, 79.6, 86.0, 90.0, 70.0, 2.0, 20.0, 20.0, 34.7, 40.4, 'Estonia', '1.3', '$41.6 ', 4.9, 2.7, '$31,750', '5.8', 3.7, '784.4', 8.8),
 (156, 'Eswatini', 'Eswatini', 'Sub-Saharan Africa', 132.0, 23.0, 54.7, 41.7, 42.9, 35.0, 74.8, 65.6, 18.3, 59.2, 67.5, 73.7, 87.6, 50.0, 40.0, 1.2, 33.0, 28.0, 25.5, 33.9, 'Eswatini', '1.1', '$11.3 ', 0.2, 2.0, '$9,884', '26.4', 6.3, '-136.8', 29.2),
 (55, 'Ethiopia', 'Ethiopia', 'Sub-Saharan Africa', 137.0, 26.0, 53.6, 32.6, 40.9, 35.1, 77.2, 90.4, 83.3, 48.6, 58.0, 60.8, 60.8, 35.0, 20.0, 12.1, 35.0, 30.0, 12.4, 17.9, 'Ethiopia', '92.7', '$200.2 ', 10.9, 9.9, '$2,161', '5.2', 9.9, '3,586.4', 56.2),
 (56, 'Fiji', 'Fiji', 'Asia-Pacific', 81.0, 18.0, 62.2, 67.3, 42.9, 23.4, 81.1, 71.7, 82.4, 63.0, 72.9, 73.5, 62.8, 55.0, 50.0, 11.1, 29.0, 20.0, 25.5, 30.7, 'Fiji', '0.9', '$8.7 ', 3.8, 3.7, '$9,777', '6.3', 3.4, '299.0', 46.6),
 (57, 'Finland', 'Finland', 'Europe', 20.0, 11.0, 74.9, 89.6, 81.2, 92.5, 66.8, 7.2, 86.4, 89.4, 50.3, 84.8, 86.0, 85.0, 80.0, 2.0, 31.3, 20.0, 44.1, 55.6, 'Finland', '5.5', '$244.0 ', 3.0, 0.8, '$44,333', '8.6', 0.8, '1,327.9', 61.4),
 (58, 'France', 'France', 'Europe', 71.0, 35.0, 63.8, 82.5, 66.1, 67.9, 48.4, 3.9, 64.9, 81.2, 45.2, 79.1, 81.0, 75.0, 70.0, 2.0, 45.0, 33.0, 45.3, 56.6, 'France', '64.8', '$2,835.8 ', 1.8, 1.1, '$43,761', '9.4', 1.2, '49,794.9', 97.0),
 (59, 'Gabon', 'Gabon', 'Sub-Saharan Africa', 118.0, 17.0, 56.3, 28.1, 30.6, 35.5, 75.8, 86.6, 82.1, 52.1, 53.0, 80.0, 51.2, 60.0, 40.0, 16.9, 35.0, 30.0, 17.3, 21.1, 'Gabon', '1.9', '$36.7 ', 0.8, 3.4, '$19,254', '19.7', 3.0, '1,498.0', 61.1),
 (60, 'Gambia', 'Gambia', 'Sub-Saharan Africa', 146.0, 30.0, 52.4, 39.9, 42.5, 41.2, 74.3, 70.7, 0.0, 54.0, 67.4, 62.4, 61.6, 65.0, 50.0, 14.2, 35.0, 32.0, 17.9, 31.3, 'Gambia', '2.1', '$3.6 ', 3.5, 3.1, '$1,713', '9.5', 8.0, '87.5', 123.2),
 (61, 'Georgia', 'Georgia', 'Europe', 16.0, 8.0, 75.9, 65.9, 54.6, 58.5, 87.1, 73.6, 93.9, 85.8, 76.6, 76.0, 88.6, 80.0, 70.0, 0.7, 20.0, 15.0, 25.8, 29.6, 'Georgia', '3.7', '$39.7 ', 4.8, 3.7, '$10,747', '11.6', 6.0, '1,861.9', 44.9),
 (62, 'Germany', 'Germany', 'Europe', 24.0, 14.0, 73.5, 79.9, 75.4, 81.3, 60.8, 42.3, 91.8, 83.3, 52.8, 77.9, 86.0, 80.0, 70.0, 2.0, 47.5, 15.8, 37.6, 43.9, 'Germany', '82.7', '$4,170.8 ', 2.5, 1.7, '$50,425', '3.8', 1.7, '34,726.3', 64.1),
 (63, 'Ghana', 'Ghana', 'Sub-Saharan Africa', 109.0, 13.0, 57.5, 49.1, 44.2, 35.5, 78.8, 82.0, 23.9, 56.5, 59.9, 66.3, 63.4, 70.0, 60.0, 10.8, 35.0, 25.0, 16.5, 24.5, 'Ghana', '28.3', '$133.7 ', 8.4, 5.5, '$4,729', '2.4', 12.4, '3,255.0', 71.8),
 (64, 'Greece', 'Greece', 'Europe', 106.0, 43.0, 57.7, 52.4, 49.5, 37.7, 59.1, 23.3, 79.0, 74.1, 52.5, 79.1, 81.0, 55.0, 50.0, 2.0, 42.0, 29.0, 38.6, 50.6, 'Greece', '10.8', '$298.7 ', 1.4, -0.3, '$27,737', '21.5', 1.1, '4,046.0', 181.9),
 (65, 'Guatemala', 'Guatemala', 'Americas', 77.0, 16.0, 62.6, 40.3, 32.3, 26.4, 79.2, 95.6, 96.2, 53.6, 48.7, 77.0, 82.2, 70.0, 50.0, 1.4, 31.0, 31.0, 12.6, 12.1, 'Guatemala', '16.9', '$137.8 ', 2.8, 3.6, '$8,145', '2.7', 4.4, '1,146.7', 24.4),
 (66, 'Guinea', 'Guinea', 'Sub-Saharan Africa', 120.0, 19.0, 55.7, 34.7, 32.6, 25.5, 69.4, 89.8, 87.2, 54.6, 54.9, 66.4, 63.2, 50.0, 40.0, 10.9, 40.0, 35.0, 15.3, 18.4, 'Guinea', '13.0', '$26.5 ', 6.7, 4.9, '$2,041', '4.5', 8.9, '576.5', 39.7),
 (67, 'Guinea-Bissau', 'GuineaBissau', 'Sub-Saharan Africa', 135.0, 25.0, 54.0, 32.6, 42.9, 25.3, 88.8, 86.7, 81.4, 35.9, 61.2, 78.1, 55.6, 30.0, 30.0, 12.2, 20.0, 25.0, 9.6, 21.0, 'Guinea-Bissau', '1.7', '$3.1 ', 5.5, 4.3, '$1,845', '6.1', 1.1, '16.6', 42.0),
 (68, 'Guyana', 'Guyana', 'Americas', 113.0, 23.0, 56.8, 41.7, 42.9, 33.2, 67.0, 69.4, 77.6, 59.3, 62.0, 76.9, 66.8, 55.0, 30.0, 6.6, 33.3, 40.0, 24.4, 32.0, 'Guyana', '0.8', '$6.3 ', 2.1, 3.5, '$8,161', '12.0', 2.1, '212.2', 50.7),
 (69, 'Haiti', 'Haiti', 'Americas', 143.0, 25.0, 52.7, 10.4, 25.3, 20.3, 79.9, 88.3, 95.9, 36.2, 62.6, 66.5, 72.0, 45.0, 30.0, 6.5, 30.0, 30.0, 14.5, 19.7, 'Haiti', '11.0', '$19.9 ', 1.2, 2.2, '$1,815', '14.0', 14.7, '374.9', 31.1),
 (70, 'Honduras', 'Honduras', 'Americas', 93.0, 20.0, 60.2, 43.4, 31.0, 25.3, 82.8, 78.2, 95.9, 56.9, 32.0, 73.0, 79.4, 65.0, 60.0, 2.8, 25.0, 25.0, 21.6, 27.0, 'Honduras', '8.3', '$46.2 ', 4.8, 3.6, '$5,562', '4.5', 3.9, '1,185.7', 43.9),
 (71, 'Hong Kong', 'HongKong', 'Asia-Pacific', 1.0, 1.0, 90.2, 93.3, 75.3, 83.8, 93.1, 90.3, 100.0, 96.4, 89.2, 86.4, 95.0, 90.0, 90.0, 0.0, 15.0, 16.5, 14.0, 17.9, 'Hong Kong SAR', '7.4', '$454.9 ', 3.8, 2.8, '$61,393', '3.1', 1.5, '104,333.0', 0.1),
 (72, 'Hungary', 'Hungary', 'Europe', 64.0, 31.0, 65.0, 60.9, 45.2, 35.3, 78.6, 31.7, 85.0, 61.1, 64.7, 81.8, 86.0, 80.0, 70.0, 2.0, 15.0, 19.0, 39.4, 47.7, 'Hungary', '9.8', '$289.0 ', 4.0, 3.2, '$29,474', '4.2', 2.4, '2,491.6', 69.9),
 (73, 'Iceland', 'Iceland', 'Europe', 11.0, 4.0, 77.1, 87.4, 63.8, 83.8, 72.7, 44.0, 96.7, 88.4, 64.1, 81.7, 87.0, 85.0, 70.0, 1.5, 31.8, 20.0, 36.4, 43.2, 'Iceland', '0.3', '$17.6 ', 3.6, 4.4, '$51,842', '2.8', 1.8, '-5.4', 40.9),
 (74, 'India', 'India', 'Asia-Pacific', 129.0, 31.0, 55.2, 57.3, 61.6, 47.8, 79.4, 77.3, 14.7, 57.1, 41.8, 72.4, 72.4, 40.0, 40.0, 6.3, 30.9, 32.4, 7.2, 27.5, 'India', '1316.9', '$9,459.0 ', 6.7, 7.2, '$7,183', '3.5', 3.6, '39,916.1', 70.2),
 (75, 'Indonesia', 'Indonesia', 'Asia-Pacific', 56.0, 11.0, 65.8, 52.2, 53.5, 39.5, 83.7, 91.4, 88.1, 69.3, 49.3, 77.4, 79.8, 45.0, 60.0, 2.6, 30.0, 25.0, 10.4, 16.9, 'Indonesia', '262.0', '$3,242.8 ', 5.1, 5.1, '$12,377', '4.2', 3.8, '23,063.1', 28.9),
 (76, 'Iran', 'Iran', 'Middle East and North Africa', 155.0, 13.0, 51.1, 33.5, 41.3, 35.0, 80.9, 89.8, 89.5, 62.2, 50.7, 60.1, 54.6, 5.0, 10.0, 15.2, 35.0, 25.0, 8.0, 18.5, 'Iran', '81.4', '$1,644.7 ', 4.3, 3.6, '$20,200', '12.5', 9.9, '5,019.0', 40.9),
 (77, 'Iraq', 'Iraq', 'Middle East and North Africa', None, None, None, 37.0, 12.3, 20.3, None, 52.8, 13.3, 54.4, 53.1, 81.4, None, None, None, None, 15.0, 15.0, None, 39.7, 'Iraq', '38.9', '$658.8 ', -0.8, 4.7, '$16,954', '8.2', 0.1, '-5,032.4', 58.0),
 (78, 'Ireland', 'Ireland', 'Europe', 6.0, 2.0, 80.5, 85.8, 68.4, 78.0, 76.3, 77.4, 89.0, 83.1, 75.3, 87.0, 86.0, 90.0, 70.0, 2.0, 41.0, 12.5, 23.0, 27.4, 'Ireland', '4.7', '$357.2 ', 7.8, 9.7, '$75,538', '6.4', 0.3, '28,974.6', 68.5),

In [23]:
pd.read_sql_query('select * from world_happiness_16', con=engine).head()

   index      country  happiness_rank  happiness_score
0      0      Denmark               1            7.526
1      1  Switzerland               2            7.509
2      2      Iceland               3            7.501
3      3       Norway               4            7.498
4      4      Finland               5            7.413

In [24]:
pd.read_sql_query('select * from world_happiness_17', con=engine).head()

   index      country  happiness_rank  happiness_score
0      0       Norway               1            7.537
1      1      Denmark               2            7.522
2      2      Iceland               3            7.504
3      3  Switzerland               4            7.494
4      4      Finland               5            7.469

In [25]:
pd.read_sql_query('select * from world_happiness_15', con=engine).head()

   index      country  happiness_rank  happiness_score
0      0  Switzerland               1            7.587
1      1      Iceland               2            7.561
2      2      Denmark               3            7.527
3      3       Norway               4            7.522
4      4       Canada               5            7.427

In [27]:
pd.read_sql_query('select * from free_eco1', con=engine).head()

,CountryID,Country Name,WEBNAME,Region,World Rank,Region Rank,2019 Score,Property Rights,Judical Effectiveness,Government Integrity,...,Country,Population Millions,GDP Billions PPP,GDP Growth Rate,5 Year GDP Growth Rate,GDP per Capita PPP,Unemployment,Inflation,FDI Inflow Millions,Public Debtof GDP
0,1,Afghanistan,Afghanistan,Asia-Pacific,152.0,39.0,51.5,19.6,29.6,25.2,...,Afghanistan,35.5,$69.6,2.5,2.9,"$1,958",8.8,5.0,53.9,7.3
1,2,Albania,Albania,Europe,52.0,27.0,66.5,54.8,30.6,40.4,...,Albania,2.9,$36.0,3.9,2.5,"$12,507",13.9,2.0,"1,119.1",71.2
2,3,Algeria,Algeria,Middle East and North Africa,171.0,14.0,46.2,31.6,36.2,28.9,...,Algeria,41.5,$632.9,2.0,3.1,"$15,237",10.0,5.6,"1,203.0",25.8
3,4,Angola,Angola,Sub-Saharan Africa,156.0,33.0,50.6,35.9,26.6,20.5,...,Angola,28.2,$190.3,0.7,2.9,"$6,753",8.2,31.7,"-2,254.5",65.3
4,5,Argentina,Argentina,Americas,148.0,26.0,52.2,47.8,44.5,33.5,...,Argentina,44.1,$920.2,2.9,0.7,"$20,876",8.7,25.7,"11,857.0",52.6